{# empty Twig template #}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Its all about TWIG!</title>
    </head>
    <body>
        <!-- Syntax for declaring variables using Twig -->
        <h1>{{ heading }}</h1>
        <p>Welcome {{ name }}!</p>
    </body>
</html>